@page "/"

@inject NavigationManager NavigationManager

<h3>Willkommen in der Anwendung!</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        // Weiterleitung zur gewünschten Seite
        NavigationManager.NavigateTo("/artikel"); // Die Seite, zu der weitergeleitet wird
    }
}
