@page "/lagerplatz-hinzufügen"
@using Lagerverwaltung.Data
@using Lagerverwaltung.Models
@inject LagerDbContext DbContext
@rendermode InteractiveServer
@inject NavigationManager Navigation

<h3>Neuen Lagerplatz hinzufügen</h3>

<EditForm Model="NeuerLagerplatz" OnValidSubmit="Hinzufügen">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-3">
        <label>Name:</label>
        <InputText @bind-Value="NeuerLagerplatz.Name" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Standort:</label>
        <InputText @bind-Value="NeuerLagerplatz.Standort" class="form-control" />
    </div>

    <button type="submit" class="w-full bg-blue-800 text-blach font-bold py-2 rounded-lg hover:bg-blue-900 transition">
        Lagerplatz hinzufügen
    </button>
</EditForm>

@code {
    private Lagerplatz NeuerLagerplatz = new();

    private async Task Hinzufügen()
    {
        DbContext.Lagerplatz.Add(NeuerLagerplatz);
        await DbContext.SaveChangesAsync();
        NeuerLagerplatz = new Lagerplatz();
        Navigation.NavigateTo("/lagerplätze");
    }
}
