@page "/lagerplätze"
@using Lagerverwaltung.Data
@using Lagerverwaltung.Models
@using Microsoft.EntityFrameworkCore
@inject LagerDbContext DbContext
@rendermode InteractiveServer
@inject NavigationManager Navigation



<h3>Lagerplätze</h3>
<div class="d-flex justify-content-start mb-3">
    <button @onclick="Hinzufuegen">
        ➕
    </button>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Lagerplatz-ID</th>
            <th>Name</th>
            <th>Standort</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var lagerplatz in Lagerplätze)
        {
            <tr>
                <td>@lagerplatz.LagerplatzId</td>
                <td>@lagerplatz.Name</td>
                <td>@lagerplatz.Standort</td>
            </tr>
        }
    </tbody>
</table>

@code {
    private List<Lagerplatz> Lagerplätze = new();

    protected override async Task OnInitializedAsync()
    {
        Lagerplätze = await DbContext.Lagerplatz.ToListAsync();
    }
    private void Hinzufuegen()
    {
        Navigation.NavigateTo("/lagerplatz-hinzufügen");
    }
}
